.form-check {
    min-width: 50px; 
}

.category-item {
    transition: all 0.2s;
    min-height: 44px;
}

.category-item:hover {
    background-color: #e9ecef !important;
    transform: translateY(-1px);
}

.form-check-input {
    width: 18px;
    height: 18px;
    margin: 0;
    float: right;
}

.form-check-input:checked {
    background-color: #198754;
    border-color: #198754;
}