.category-main,
.subcategory-item {
    cursor: pointer;
    transition: all 0.2s ease;
}

.category-main:hover,
.subcategory-item:hover {
    background-color: #f1fdf6;
}

.category-main.active,
.subcategory-item.active {
    background-color: #198754; 
    color: #fff;
    border-color: #198754;
}
